#dashboard_layout {
	display: flex;
}

#dashboard_tickets {
	flex: 1 0 250px;
}

#dashboard_staff {
	flex: 0 1 300px;
}

.dashboard_ticket_list {
	th, td {
		padding: 3px;
	}
}

.dashboard_ticket_list_no_tickets {
	text-align: center;
}

.dashboard_ticket_list_author {
	text-align: center;
}