html {
	background: linear-gradient(150deg, #000 40%, #004 100%);
	color: #f6f6ff;
	height: 100vh;
	font-family: sans-serif;
}

a {
	color: #ccf;

	&:visited {
		color: #fcf;
	}
}

#header {
	display: flex;
	width: 100%;
	gap: 10px;
	align-items: center;
	margin-bottom: 10px;

	> div:first-child {
		flex-basis: 48px;
	}

	> div:not(:first-child) {
		flex-grow: 1;
	}

	h1 {
		margin: 0;
	}
}

#header_guild_icon {
	width: 48px;
	border-radius: 12px;
}

#ticket_header {
	margin-bottom: 16px;
}

#ticket_title {
	margin-bottom: 0px;
}

.ticket_message_start {
	margin-top: 8px;
	border-top: 1px solid #f6f6ff;
	padding-top: 1px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}